@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

p { font-family: 'Lato', sans-serif; }
h1 { font-family: 'Roboto Mono', monospace; }
h2 { font-family: 'Lato', sans-serif; }

html {
  height: 100%;   /* For sticky footer */
  display: flex;    /* For sticky footer */
  flex-direction: column;   /* For sticky footer */
}

body {
  background-color: white;
  color: black;
  flex: 1;    /* For sticky footer */
  font-size: 20px;
}

@media (max-width: 991px) { body { font-size: 18px; }}
/*@media (max-width: 750px) { body { font-size: 16px; }}*/

header {
  min-height: 50vh;
  width: 100%;
  position: relative;
  background-image: url("/img/alvstranden.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header p { font-size: 1.2em; margin: 0; white-space: nowrap; }

header > span {     /* Direct child*/
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
header div {
  box-sizing: content-box;
  max-width: 95vw 350px;
  min-width: 25vw;
  background-color: #40b0c7;
  opacity: 0.9;
  padding: 1.5em;
}
header ul {
  margin: 0;
  margin-top: 0.8em;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
}
header li { display: inline; margin: 0.4em; }
header ul a { color: white; transition: all 0.2s; }
header ul a:hover { color: #40b0c7; }
header ul a:focus { color: #40b0c7; }

#banner {
  background-color: grey;
  color: white;
  font-size: 0.8em;
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 2em;
}

#projects {
  max-width: 1000px;
}
#projects div {   /* Project image */
  height: 200px;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5px;
}
#projects .row {
  margin-top: 60px;
  margin-bottom: 60px;
}

footer {
	min-height: 5px;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;;
  background-color: #40b0c7;
	color: white;
  overflow: hidden;
}
