@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

p { font-family: 'Lato', sans-serif; }
h1 { font-family: 'Lato', sans-serif; font-weight: 500; font-size: 1.5em; }
h2 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.5em; }
h3 { font-family: 'Lato', sans-serif; font-weight: 300; font-size: 1.3em; }
h4 { font-family: 'Lato', sans-serif; font-weight: 600; font-size: 1.1em; }
a { text-decoration: underline; color: inherit; transition: all 0.2s; }
a:hover { cursor: pointer; color: #757575; }

/* Content width */
@media screen and (min-width: 1170px) { }  /* Desktops */
@media screen and (min-width: 970px) { }  /* Laptops */
@media screen and (min-width: 750px) { }  /* Tablets */
/* Phones */

header, main, footer {
  width: 550px;
  max-width: 90%;
  margin: auto;   /* Center */
  display: block;   /* Center */
}

html {
  min-height: 100%; /* Make sure it is at least as tall as the viewport */
  position: relative;
  font-family: 'open sans', sans-serif;
  background-color: #f7f7f7;
  font-size: 18px;
}

body {
  height: 100%; /* Force the BODY element to match the height of the HTML element */
}

#height-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  padding-top: 30px;
  padding-bottom: 10px;
}

header ul {
  list-style: none;
  padding: 0;
}
header li {
  display: inline;
  font-size: 2em;
  margin-right: 10px;
}
main { text-align: center; display: block; overflow: auto; }
main h2, .item { text-align: left; }
.item { width: calc(100% - 10px); display: inline-block; margin: 5px; margin-bottom: 15px; text-decoration: none; float: left; }
@media screen and (min-width: 750px) { .item { width: calc(50% - 10px); } }  /* Tablets size */
.item div { width: 100%; background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }
.item h4 { padding: 7px; padding-top: 4px; margin: 0; color: #383434; }
.item span { width: 100%; padding-top: 56.5%; display: block; background-position: center; background-repeat: no-repeat; background-size: cover; }  /* 56.5% = 19:9 */
.item:hover { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); }

footer { padding-top: 40px; padding-bottom: 10px; font-size: 0.8em; font-style: italic; }
