@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

p { font-family: 'Roboto', sans-serif; }
h1 { font-family: 'Roboto Mono', monospace; }

html {
  height: 100%;   /* For sticky footer */
  display: flex;    /* For sticky footer */
  flex-direction: column;   /* For sticky footer */
}

body {
  background-color: white;
  color: black;
  flex: 1;    /* For sticky footer */
  font-size: 20px;
}

header {
  height:100vh;
  min-height:100vh;
  width: 100%;
  position: relative;
  background-image: url(/img/segovia1920p.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header:before {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  /*display: none;*/
  z-index:0;
  display: block;
  background-color: rgba(60, 135, 156, 0.65);
}
header div {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-70%);
}

header * {  /* Header children */
  max-width: 700px;
  padding-left: 20px;
  padding-right: 20px;
}
header h1 { font-size: 1.8em; }
header p { font-size: 1.1em; }

main {
  height:100vh;
  min-height:100vh;
  width: 100%;
  background-color: red;
}

@media (max-width: 991px) { body { font-size: 18px; }}
@media (max-width: 750px) { body { font-size: 16px; }}

footer {
	min-height: 5px;
  margin: 0;
  right: 0;
  bottom: 0;
  left: 0;;
  background-color: #40b0c7;
	color: white;
  overflow: hidden;
}

#hideAll    /* For hiding page until fully loaded */
 {
   position: fixed;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   background-color: white;
   z-index: 99; /* Higher than anything else in the document */

 }
